version: '3.8'

services:
  backend:
    build:
      context: /workspaces/fullstack/devops-fullstack-app-main/backend
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=database-1.ctbhfuqtzrgt.us-east-1.rds.amazonaws.com
      - DB_USER=postgres
      - DB_PASSWORD=Kandimalla1
      - DB_NAME=database-1
      - DB_PORT=5432
      - ALLOWED_ORIGINS=<ALLOWED_ORIGINS_VALUE>
    depends_on:
      - postgres

  frontend:
    build:
      context: /workspaces/fullstack/devops-fullstack-app-main/frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://backend:8080

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Kandimalla1
      - POSTGRES_DB=database-1
    ports:
      - "5432:5432"
